{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="text-center">
    <h1>Series</h1>
    {% for laSerie in lesSeries %}
        Titre: {{ laSerie.titre }}<br/><br/>
        <img src="{{asset('images/'~ laSerie.image)}}" /><br/><br/>
        Resumé: <br/>
        {{ laSerie.resume }}<br/><br/>
        Durée: {{ laSerie.duree|date("H:i:s") }}<br/><br/>
        Date de première diffusion: {{ laSerie.premiereDiffusion|date("d-m-Y") }}<br/><br/>
        Genre(s):
        {% for unGenre in laSerie.lesGenres %}
            {{ unGenre.libelle }}
            {% if not loop.last %} - {% endif %}
        {% endfor %}
    {% endfor %}
</div>

{% endblock %}