{% extends 'base.html.twig' %}

{% block title %}Hello AdminSerieController!{% endblock %}

{% block body %}
<div class="text-center">
    <h1>Gérer les Genres</h1>
    <br/><br/>
    <hr/>
    <a href="{{ path('add_genre') }}" class="btn btn-primary" role="button" >Ajouter un Genre  <i class="fas fa-plus-circle"></i></a>
    <br/>
    {% for message in app.flashes('succesMessage') %}
        {{ message }}
    {% endfor %}
    <hr/>
    {% for leGenre in lesGenres %}
        <h5>{{ leGenre.libelle }}</h5>
        <a href="{{ path('edit_genre', {id : leGenre.id})}}" role="button" class="btn btn-warning"><i class="fas fa-edit"></i></a>
        <form action="{{ path('delete_genre', {id : leGenre.id})}}" method="post" onSubmit="return confirm('messageDeConfirmation')" >
            <input type="hidden" name="_method" value="DELETE"></input>
            <input type="hidden" name="_token" value="{{csrf_token('delete'~ leGenre.id)}}"></input>
            <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>
        </form>
        <br/><br/>
        <hr/>
    {% endfor %}
</div>
{% endblock %}