<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">
        <!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/js/mdb.min.js"></script>
        <script type="text/javascript">
            window.onscroll = function () {
                scrollFunction()
            };
            function scrollFunction() {
                if (document.body.scrollTop > 10 || document.documentElement.scrollTop > 10) {
                    document.getElementById("toTop").style.display = "block";
                } else {
                    document.getElementById("toTop").style.display = "none";
                }
            }
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>
        <style type="text/css">
            @media(max-width: 768px) {
                .example-wrapper {
                    margin-top: calc(100% / 8);
                }
            }
            @media(min-width: 769px) {
                .example-wrapper {
                    margin-top: calc(100% / 20);
                }
            }
            .example-wrapper {
                margin-left: auto;
                margin-right: auto;
                max-width: 1000px;
                width: 95%;
                font: 18px / 1.5 sans-serif;
            }
            .example-wrapper code {
                background: #F5F5F5;
                padding: 2px 6px;
            }
            html {
                scroll-behavior: smooth;
            }
            #toTop {
                display: none;
                position: fixed;
                bottom: 20px;
                right: 30px;
                z-index: 99;
                font-size: 18px;
                cursor: pointer;
                padding: 15px;
                color: white;
                border-radius: 15px;
                text-align: center;
                font-size: 12px;
            }
            body {
                background-image:url({{ asset('images/'~ 'yellow-background.png')}});
            }
            #toTop:hover {
                background-color: #555;
            }
            .rotate-center {
                -webkit-animation: rotate-center 0.6s ease-in-out both;
                animation: rotate-center 0.6s ease-in-out both;
            }
            html{
                height:100%;
            }   
            body {
                height: 100%;
                margin:0;
                padding:0;
            }
            .global{
                min-height: 100%;
                position: relative;
            }
            header{
                background: #998B7D;
                height: 50px;
            }         
            footer{
                background: #998B7D;
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 50px;
                margin-top: 50px;
            }
            
            .content{
            padding-bottom: 50px;
            }
            @-webkit-keyframes rotate-center {
                0% {
                    -webkit-transform: rotate(0);
                    transform: rotate(0);
                }
                100% {
                    -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
                }
            }
            @keyframes rotate-center {
                0% {
                    -webkit-transform: rotate(0);
                    transform: rotate(0);
                }
                100% {
                    -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
                }
            }
        </style>
    </head>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{path('home')}}">FouDeSeries</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('home')}}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('news')}}">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('series')}}">Les Series</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('genres')}}">Les Genres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('admin_serie')}}">Administration</a>
                </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <br/><br />
    </header>
    <body style="background-attachment:fixed;">
        {% block body %}{% endblock %}
        <button type="button" style="float: right" class="btn btn-primary px-3" onclick="topFunction()" id="toTop" title="Haut de page">
            <i class="fas fa-angle-double-up"></i>
        </button>
        <footer class="page-footer font-small black">
            <div class="footer-copyright text-center py-3">©
                {{ "now" |date("Y")}}
                Copyright - FouDeSéries by
                <a target="_blank" data-toggle="tooltip" title="Accédez à mon site web" href="https://diegobonnamy.fr">Diego Bonnamy</a>
            </div>
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
